
.key-value-container {
    display: flex;
    flex-wrap: wrap;
}
.key-value-block {
    padding: 10px;
}

.subtitle {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #878787;
}