<div class="card">
  <div class="card-body">
    <div class="subtitle" style="display: inline-block;padding-right: 10px;">{{'Odometer'|translate | uppercase }}</div>
    <div *ngIf="vehicle" style="font-size: 20px; line-height: 24px;display: inline-block;">
        <ng2-odometer *ngIf="vehicle" [number]="vehicle.milage_km_current" [config]="{theme: 'car' }"></ng2-odometer>
    </div>
    <!--
    <div class="subtitle">{{'General'|translate | uppercase }}</div>
    -->
    <hr>
    <div *ngIf="vehicle" class="key-value-container">
      <!-- Name  -->
      <app-key-value-block
        *ngIf="vehicle.name" 
        [price]="false" 
        key="Name" 
        [value]="vehicle.name" 
        [infoMessage]="getTooltip('name')">
      </app-key-value-block>
       <!-- Model  -->
       <app-key-value-block 
       *ngIf="vehicle.model" 
       [price]="false" 
       key="Model" 
       [value]="vehicle.model" 
       [infoMessage]="getTooltip('model')">
     </app-key-value-block>
      
      <!-- First Registration -->
      <app-key-value-block 
          *ngIf="vehicle.first_reg && vehicle.first_reg.date" 
          [price]="false" 
          key="First_Registration" 
          [value]="vehicle.first_reg.date"
          [infoMessage]="getTooltip('first_reg')" >
        </app-key-value-block>
        <!-- Sale Date -->
        <app-key-value-block 
        *ngIf="vehicle.sale_date && vehicle.sale_date.date" 
        [price]="false" 
        key="Sale_Date" 
        [value]="vehicle.sale_date.date"
        [infoMessage]="getTooltip('sale_date')" >
      </app-key-value-block>

      
    </div>

    <div class="subtitle">{{'Purchase'|translate | uppercase }}</div>
    <hr>
    <div *ngIf="vehicle" class="key-value-container">
      <!-- Purchase date  -->
      <app-key-value-block 
        *ngIf="vehicle.purchase_date && vehicle.purchase_date.date" 
        [price]="false" 
        key="Purchase_Date" 
        [value]="vehicle.purchase_date.date"
        [infoMessage]="getTooltip('purchase_date')" >
      </app-key-value-block>
      <!-- Milage_Start   -->
      <app-key-value-block 
        *ngIf="vehicle.milage_km_start" 
        [price]="false" 
        key="Milage_Start" 
        [value]="vehicle.milage_km_start"
        [infoMessage]="getTooltip('milage_km_start')" >
      </app-key-value-block>
    </div>

    <div class="subtitle">{{'Settings'|translate | uppercase }}</div>
    <hr>
    <div *ngIf="vehicle" class="key-value-container">
      <!-- Currency  -->
      <app-key-value-block 
        *ngIf="vehicle.currency_lbl" 
        [price]="false" 
        key="Currency" 
        [value]="vehicle.currency_lbl" 
        [infoMessage]="getTooltip('currency')">
      </app-key-value-block>
      <!-- 
      Track this vehicle's mileage in miles (default is kilometers)
        -->
        <div *ngIf="vehicle"  class="key-value-block">
            <div class="key-name flex" >{{'Track_in_Miles' | translate}}
                <div class="key-name-icon-container">
                    <app-button-info class="absolute" message="{{getTooltip('track_in_mi')}}"></app-button-info>
                </div>
            </div>
            <app-switch-label
              [checked]="vehicle.track_in_mi" 
              className="switch-success-outline-alt" 
              [disabled]="true"
              [labelOn]="'ml'"
              [labelOff]="'km'">
            </app-switch-label>
        </div>
        
      
      
    </div>
   

  </div>
  <!-- div class="card-footer" style="font-size: 40px; line-height: 60px;">
      <ng2-odometer *ngIf="vehicle" [number]="vehicle.milage_km_current" [config]="{theme: 'car' }"></ng2-odometer>
  </div-->
</div>