<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumbs></app-breadcrumbs>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
           <!-- New Vehicle -->
           <a class="btn" (click)="newVehicleClick()"><i class="icon-plus" ></i>&nbsp;New</a>
           <!-- refresh Vehicle -->
           <a class="btn"><i class="icon-refresh" (click)="getUserVehicles()"></i></a>
      </div>
  </li>
</ol>
<!-- Breadcrumb -->

<div [@transition]='state' class="container-fluid">

<div *ngIf="vehicles" class="flex-wrap margin-bottom-20">
  <div *ngFor="let vehicleItem of vehicles">
          <app-vehicle-card
                 
                  [vehicle]="vehicleItem"
                  [maxDistance]="maxDistance"
                  [maxTimeInUseMls]="maxTimeInUseMls"
                  [maxTotalFuel]="maxTotalFuel"
                  [maxAvgFuelPrice]="maxAvgFuelPrice"
                  [maxTotalExpences]="maxTotalExpences"
                  (detailsClick)="onDetailsViewClick($event)"
                  >
              </app-vehicle-card>
      </div>
   </div>

  <!-- Page Actions
  <div class="page-actions">
      <ts-button-flat 
          *ngIf="isCompanyAdministrator"
          (click)="inviteUserClick()"
          color="light" 
          icon="" >
          INVITE NEW USER
      </ts-button-flat>
  </div>  -->

</div> <!-- container-fluid -->