<div [ngClass]="{'mb-3': type === 'short', 'mb-4': type === 'long' }" class="input-group" *ngIf="validator">
  
  <div class="input-group-prepend">
    <span class="input-group-text"> <i [ngClass]="prependIcon"></i> </span>
    <span class="red" *ngIf="validator && validator.required">*</span>
  </div>
  <ng-content></ng-content>
  <!--input type="text" class="form-control" placeholder="Username"-->
  <!-- error message -->
  <div class="invalid-feedback" *ngIf="validator.hasError">
    <p class="error-bleck" *ngFor="let msg of validator.messages">{{msg}}</p>
  </div>
  <div class="invalid-feedback" *ngIf="error">
      <p class="error-bleck">{{error}}</p>
  </div>
</div>