.key-value-block{
    width: 160px;
    padding: 2px 2px 8px 2px;
}
/*
.key-name {
    /*font-size: .875em;
    color: inherit;
    font-weight: 200;
    font-stretch: ultra-expanded;
}

.key-value {
    font-size: 1em;
    color: inherit;
    font-weight: 550;
    font-stretch: ultra-expanded;
}

*/