<div *ngIf="value" >
    <div class="key-value-block">
        <div class="key-name flex" >{{key | translate}}
            <div *ngIf="infoMessage" class="key-name-icon-container">
                <app-button-info class="absolute" message="{{infoMessage}}"></app-button-info>
            </div>
        </div>
        <!-- if price  -->
        <div *ngIf="price; else notPrice">
            <div class="key-value ellipsis">{{value | vlbcurrency:price}}</div>
        </div> 

        <!-- if not price  -->
        <ng-template #notPrice>
            <!-- if number  -->
            <div *ngIf="value">
                <div *ngIf="isNumber(value);else isDateValue">
                    <div *ngIf="value.length > 16;else noNumberToolTip" class="key-value" placement="top" ngbTooltip="{{value}}" triggers="mouseenter:mouseleave">{{value | number:'1.0-2':'us' | truncate: 16}}</div>
                    <ng-template #noNumberToolTip>
                        <div class="key-value">{{value | number:'1.0-2':'us' }}</div>
                    </ng-template>
                </div>
                <!-- if Date -->
                <ng-template #isDateValue>
                        <div *ngIf="isDate(value);else isStringValue" class="key-value flex" placement="top" ngbTooltip="{{value}}" triggers="mouseenter:mouseleave">{{value | date:'shortDate':'':'en'}}
                            <ng-content></ng-content>
                        </div>
                        <ng-template #noDateToolTip>
                            <div class="key-value flex">{{value | date:'fullDate':'':'en'}}
                                <ng-content></ng-content>
                            </div>
                        </ng-template>
                    </ng-template>
                <!-- if string -->
                <ng-template #isStringValue>
                    <div *ngIf="value.length > 16;else noStringToolTip" class="key-value flex" placement="top" ngbTooltip="{{value}}" triggers="mouseenter:mouseleave">{{value | titlecase | truncate: 16 }}
                        <ng-content></ng-content>
                    </div>
                    <ng-template #noStringToolTip>
                        <div class="key-value flex">{{value}}
                            <ng-content></ng-content>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        

        </ng-template>
    </div>
</div>