<label class="switch switch-text switch-pill {{className || 'switch-primary-outline-alt'}}">
  <input #input type="checkbox" class="switch-input" [checked]='checked' (change)="handleCheck($event.target.checked)" id="{{cssId}}"
    [disabled]="disabled">
  <span class="switch-label" [attr.data-on]="labelOn" [attr.data-off]="labelOff"></span>
  <span class="switch-handle"></span>
</label>