<button class="btn-pill" [ngClass]="{'yellow-background': light }" >
    <span class="btn-pill-title">{{title}}</span>
    <div class="flex">
        <div class="btn-pill-contents">
            <ng-content></ng-content>
        </div>
        <i class="material-icons">cancel</i>
    </div>
</button> 
  