 <!-- live button -->
 <button  
 type="{{type || 'button'}}" 
 class="btn-flat"

 [ngClass]="{'btn-flat-blue ' : color === 'light', 
             'btn-flat-white' : color === 'dark', 
             'btn-flat-disabled' : disabled, 
             'margin-0': noPadding,
             'padding-0': noPadding }">
  <i *ngIf="icon" class="material-icons">{{icon}}</i>
 <ng-content></ng-content>
</button> 