<div class="sidebar-header">
    <div class="vehicle">

        <h3 style="color:yellowgreen;text-align: center;width: 100%;padding: 0px 10px 0px 0px;">My Vehicle</h3>

        <div style="width: 100%;">
            <img src="../../../../assets/img/Vehicle_Log_Book_Logo.png" style=" width: 176px;padding:1px 1px 5px 15px;" alt="My Vehicle">
            <ul class="millage">
                <li class="millage-item">0</li>
                <li class="millage-item">2</li>
                <li class="millage-item">5</li>
                <li class="millage-item">3</li>
                <li class="millage-item">0</li>
                <li class="millage-item">4</li>
            </ul>
        </div>
    </div>
    <nav class="millage-nav">
        <a class="car-stat-link">
            <i class="fa fa-battery-full fa-lg"></i> Last Fill Up:
            <span class="data">€42.23 / 43.12 L</span>
        </a>
        <a class="car-stat-link">
                <i class="fa fa-tint fa-lg"></i> Fuel Economy:
                <span class="data">6.09 L/100km</span>
            </a>
       
    </nav>
    <a class="nav-link nav-link-info" ng-reflect-ng-class="nav-link nav-link-info" href="http://coreui.io/angular/">
        
    </a>
</div>