<div class="product_millage">
    <ul>
        <li>{{getMillageNum(1)}}</li><li>{{getMillageNum(2)}}</li><li>{{getMillageNum(3)}}</li><li>&nbsp;</li><li>{{getMillageNum(4)}}</li><li>{{getMillageNum(5)}}</li><li>{{getMillageNum(6)}}</li>
    </ul>
</div>
