<div class="modal-dialog" role="document" [ngClass]="type">
    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">{{title | translate}}</h4>
            <button type="button" class="close" (click)="close()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- Close Modal 
        <div class="modal-close">
            <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        -->
        <!-- Modal Body -->
        <div class="modal-body">
            <div class="width-100">

                <p [innerHTML]="message"></p>
            </div>
        </div>
         <!-- End Modal Body -->
        <div class="modal-footer">
                <app-button-primary (click)="onCancel()" class="margin-right-15" color="gray">
                    CANCEL
                </app-button-primary>
                <app-button-primary (click)="onConfirm()">
                    CONFIRM
                </app-button-primary>
            </div>
    </div>
</div>