.breadcrumb {
  position: relative;
  @include borders($breadcrumb-borders);
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb li {
  display: inline-block;
}
// Breadcrumb

.breadcrumb-item {
  right: auto;
  left: $breadcrumb-padding-x;
}

.breadcrumb .active {
  color: #999;
}

.breadcrumb-item a {
  color: #428bca;
  text-decoration: none;
}
.breadcrumb-item a:not([href]):not([tabindex]) {
  color: #428bca;
  text-decoration: none;
}

.breadcrumb-menu {
  right: auto;
  left: $breadcrumb-padding-x;
}