@each $color, $value in $theme-colors {
  .modal-#{$color} {
    margin: 0.075rem auto;
    .modal-content {
      border-color: $value;
    }

    .modal-header {
      color: #fff;
      background-color: $value;
    }
  }
}
