ts-column-mapping{
    display: flex;
    width: 100%;
}

ts-mapping-summary{
    width: 100%;
}

.mapping{
    &-summary{
        display: flex;
        flex-wrap: wrap;
        &-container{
            margin-top: 20px;
        }
    }
}


//FLEX MEDIA QUERIES

/**
Under 767px
This Class will make the element display flex untill 
it hits the 767px mark, everything under that it will
change the column. 
**/
.flex-col-md{
    display: flex;
    @include med-window{
        flex-direction: column;
    }
}
/**
Under 992px
This Class will make the element display flex untill 
it hits the 992px mark, everything under that it will
change the column. 
**/
.flex-col-lrg{
    display: flex;
    @include lrg-window{
        flex-direction: column;
    }
}
/**
Under 992px
This Class will make the element display flex untill 
it hits the 992px mark, everything under that it will
change the column. 
**/
.flex-col-xl{
    display: flex;
    @include xl-window{
        flex-direction: column;
    }
}


.flex-end-col-lrg{
    @include lrg-window{
        display: flex;
        justify-content: flex-end;
    }
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-wrap{
    @extend .flex;
    flex-wrap: wrap;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-align-items{
    display: flex;
    align-items: center;
}
.flex-space-between{
    @extend .flex;
    justify-content: space-between;
}
.none{
    display: none;
}
.text-align-center{
    text-align: center;
}
.height-100{
    height: 100%;
}
.width-100{
    width: 100%;
}
.width-200{
    width:200px;
}
.bold{
    font-weight: 800!important;
}
.semi-bold{
    font-weight: 600!important;
}
.regular{
    font-weight: 400!important;
}
.thin{
    font-weight: 300!important;
}
.size-18{
    font-size: $f-18px;
}
.size-16{
    font-size: $f-16px;
}
.size-14{
    font-size: $f-14px;
}
.size-12{
    font-size: $f-12px;
}
.inherit{
    position: inherit!important;
}


///////////
// Cards //
///////////
.card{
    @include card-shadow();
    &-body{
        @include size(auto, auto);
    }
    &-expand{
        position: absolute;
        @include size($product-card-size);
    }
    &-footer{
        border: 1px solid $blue-main;
        @include size(100%);
        padding: 5px 10px;
        @include text($f-16px,#fff);
        background-color: $blue-main;
    }
    &-action-buttons{
        display: flex;
        padding-top: 5px;
        padding-left: 5px;
    }
    &-overlay{
        &-button{
            @include placement(absolute, 83px, null, null, 58px);     
        }
    }
}

.cards{
    &-container{
        @include flex-wrap;
           padding: 0px 0px 0px 0px;
    }
}


///////////////
// list Card //
///////////////
.product-list{
    margin: 5px 10px 5px 5px;
    padding: 5px;
    @include size(100%);
    &-container{
        margin-left: 13px;
        @include size(100%);
    }
    &-cards{
        &-container{
            @include flex-wrap;
            padding: 0px 0px 0px 0px;
        }
    }
    &-hr{
        margin-top:3px;
        margin-bottom: 3px;
        width: 100%;
    }
    &-title{
            padding-bottom: 5px;
            @include text(inherit, $font);
    }
    &-image{
        &-container{
            @include size(90px,90px);
            overflow-y: hidden;
            margin: 10px 0px 0px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-tall{
            @include size(auto, 90px);            
        }
        &-wide{
            @include size(90px, auto);
        }
        &-and-check-box{
            @include placement(absolute, 5px,null,null, 5px);
        }
    }
    
    &-content{
        width: 100%;
        padding: 15px 15px 15px 100px;
    }
    &-key-value-container{
        > .key-value-block
        > .key-value{
            @include ellipsis(100%);
        }
    }

    &-buttons{
        @include placement(absolute, null, null, 0px, 0px);
        width: 100%;
        height: 52px;
        padding: 4px;
        background: $blue-dark;
    }
    
}

//////////////////
// PRODUCT CARD //
//////////////////
.product-title{display: inline-block;
        width: 100%;
        padding-left: 15px;
        padding-top: 7px;
        font-size: x-large;
}
.product_millage{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    text-align: center;
}
.product_millage ul{
    margin: 0em;
    display: inline-block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.product_millage li{
    position: relative;
    margin: 0;
    display: inline-block;
    padding: 0.2em 0.47em;
    list-style: none;
    white-space: nowrap;
    vertical-align: baseline;
    /*color: #fff;*/
    /*background-color: #4dbd74;*/
    /*font-size: 75%;
    font-weight: 700;*/
    line-height: 1;
    transition: background .3s ease-in-out;
    background-clip: border-box;
    border: 1px solid $gray-light;
  }
/* Note: these are the card for each item/products 
   for example the product cards when searching for an product */
   .product-card{
    margin: 5px;
    @include size($product-card-size);
    &-image{
        &-container{
            margin-top: 20px;
            margin-bottom: 3px;
            @include size(100%, $product-card-size-image-size);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-tall{
            @include size(auto, $product-card-size-tall);            
        }
        &-wide{
            @include size($product-card-size-wide, auto);
        }
        margin: 0px 29px 0px 29px;
    }
    &-attributes{
        margin: 2px 10px 5px 10px;
        & > hr{
            margin:5px 0px 5px 0px;
        }
    }
    &-price{
        &-container{
            border: 1px solid $blue-main;
            @include size(100%);
            padding: 5px 1px;
            @include text(inherit,#fff);
            background-color: $blue-main;
        }
        &-label{
            @include text($f-14px, inherit);
        }
        &-type{
            @include text(inherit,inherit,200);
        }
        &-number{
            @include text($f-18px,inherit,200);
        }
        &-uom{
            @include text(inherit,inherit,200);
        }
        &-hr{
            margin:5px 0px 5px 0px;
            border-top: 1px solid $blue-dark;
        }
    }
    &-quick-view{ 
      background-color: $blue-dark;
      text-align: center;
      height: 40px;
      padding: 5px;
    }
}

// Add "@extend .clear-btn-style;" to clear button styles.
.clear-btn-style{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    line-height: 1.42rem;
    list-style: none outside none; 
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

.clear-focus-style{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

// Links still have blue border. 
*:focus{
    @extend .clear-focus-style;
}

button{
    border-color: transparent;
}
/////////////////////
// PRIMARY BUTTONS //
/////////////////////
.btn-primary {
    @extend .clear-btn-style;
    @include text($font-med, #fff);
    background-color: $blue-main;
    border-color: $blue-main;
    border-radius: 0px;
    padding: 13px 20px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: #fff;
        background-color: $blue-dark;
        border-color: $blue-dark;
        cursor: pointer;
    }
    &:focus {
        @extend .clear-focus-style;
        background-color: $blue-black;
    }
}

.btn-primary-two {
    @extend .clear-btn-style;
    @include text($font-med,$blue-main, 600);
    background-color: $yellow-main;
    border-color: $yellow-main;
    border-radius: 0px;
    padding: 13px 20px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: $blue-main;
        background-color: $yellow-light;
        border-color: $yellow-light;
        cursor: pointer;
    }
    &:focus {
        @extend .clear-focus-style;
        background-color: $yellow-white;
    }
}

.btn-primary-cancel {
    @extend .clear-btn-style;
    @include text($font-med, $font-light);
    -webkit-box-shadow:inset 0px 0px 0px 2px $font-light;
    -moz-box-shadow:inset 0px 0px 0px 2px $font-light;
    box-shadow:inset 0px 0px 0px 2px $font-light;
    background-color: transparent;
    // border: $font solid 2px;
    border-radius: 0px;
    padding: 13px 20px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: $gray-dark;
        background-color: transparent;
        -webkit-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        -moz-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        box-shadow:inset 0px 0px 0px 2px $gray-dark;
        cursor: pointer;
    }
    &:focus {
        @extend .clear-focus-style;
        -webkit-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        -moz-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        box-shadow:inset 0px 0px 0px 2px $gray-dark;
    }
}
//DISABLED
.btn-primary.disabled, .btn-primary:disabled {
    background-color: $gray-dark;
    border-color: $gray-dark;
    color: $font;
}
.btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

//////////////////
// FLAT BUTTONS //
//////////////////
.btn-flat{
    @extend .clear-btn-style;
    position: relative;
     margin: 0px 10px 0px 10px;
     -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
     transition: color .5s; /* For modern browsers */
     width: 68%;
    .material-icons{
        @include placement(absolute,8px, null, null, -11px);
        font-size: $f-18px;
    }
}


.btn-flat-white{
    @include text($font-med, #fff, 700);
    padding: 5px 10px;
    &:hover{
        color: $yellow-main;
        cursor:pointer;
    }
    &:focus {
        @extend .clear-focus-style;
        color: $yellow-main;
    }
}

.btn-flat-blue{
    @include text($font-med, $blue-main, 700);
    padding: 5px 10px;
    &:hover{
        color: $yellow-main;
        cursor:pointer;
    }
    &:focus {
        @extend .clear-focus-style;
        color: $yellow-main;
    }
}

// keep disabled under blue and white.
.btn-flat-disabled{
    @include text($font-med, $gray-dark, 700);
    padding: 5px 10px;
    &:hover{
        color: $gray-dark;
        cursor:pointer;
    }
    &:focus {
        @extend .clear-focus-style;
        color: $gray-dark;
    }
}

///////////////////
// ROUND BUTTONS //
///////////////////
.btn-round {
    background-color: $yellow-main;
    border-radius: 999em;
    @include square( 56px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: lighten( $yellow-main, 10% )
    }
}

.btn-round span {
    @include text(33px, #fff);
    @include placement(absolute, 60%, null, null, 0px);
    @include size(100%, 100%);
    text-align: center;
    margin-top: -22px;
    
}

.btn-round-sm {
    @extend .clear-btn-style;
    margin:5px;
    background-color: $yellow-main;
    border-radius: 999em;
    @include square(30px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: $yellow-light;
    }
}

.btn-round-sm i {
    @include text(20px, #fff);
    @include placement(absolute, 91%, null, null, 0px);
    @include square(100%);
    text-align: center;
    margin-top: -22px;
}


.btn-round-img {
    @extend .clear-btn-style;
    margin:5px;
    /*background-color: $yellow-main;*/
    border-radius: 999em;
    @include square(30px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 36px;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: lighten( $green-success, 10% );
        /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);*/

    }
}

.btn-round-img i {
    @include text(20px, #fff);
    @include placement(absolute, 91%, null, null, 0px);
    @include square(100%);
    text-align: center;
    margin-top: -22px;
   
}
////////////////////
// FORMAT CONTROL //
////////////////////
ts-format-control{
    &:focus
    &:active{
         @extend .clear-focus-style;
    }
}
.format-control {
    display: flex;
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
    background: transparent; 
    padding: 8px;
    margin: 2px 0px 3px 0px;
    border-radius: 0px;
    &-lite{
        &:hover{
            color: $black;
            cursor: pointer;
            background: $gray-light;
        }
    }
    &-dark{
        color: #fff;
        &:hover{
            color: $yellow-main;
            cursor: pointer;
            background: $light-blue;
        }
    }
}
.format-control-no-label{
    @include square(40px);
     border-radius: 20px;
}

.format-control-large{
    @include square(64px);
     border-radius: 33px;
     & > .material-icons{
         font-size: 48px;
     }
}

//////////////////
// PILL BUTTONS //
//////////////////
.btn-pill {
    @extend .clear-btn-style;
    @include text($f-14px, $font);
    background-color: $gray-light;
    border-color: $blue-main;
    border-radius: 20px;
    padding: 5px 10px 6px 10px;
    position: relative;
    margin:5px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: #fff;
        background-color: $blue-dark;
        border-color: #E0E0E0;;
        cursor: pointer;
    }
    &:focus {
        @extend .clear-focus-style;
        background-color: $blue-black;
    }
    //May not need title
    &-title{
        /*@include placement(absolute, 2px, null, null, 19px);*/
        font-size: $f-12px;
    }
    &-contents{
        /* max-width: 120px;*/
         max-width: 240px;
         text-overflow: ellipsis;
         white-space: nowrap;
         overflow: hidden;
         margin-right: 5px;
    }
}

/////////////////
// INFO BUTTON //
/////////////////
.info-btn{
    color: $blue-main;
    padding: 0px 8px 0px 8px;
    &:hover{
        color: $yellow-main;
        cursor: pointer;
    }
}

/////////////////
// BACK BUTTON //
/////////////////
.back-button {
    position: relative;
    color: $blue-main;
    @include square(40px);
    border-radius: 20px;
    border: 2px $blue-main solid;
    background: transparent;
    padding: 6px;
    margin: 2px 10px 3px 0px;
    &:hover{
        border: 2px $blue-dark solid;
        color: $blue-dark;
        cursor: pointer;
    }
    &::after {
        font-family: "Material Icons";
        content: "\E5CB";
        font-size: $f-28px;
        @include placement(absolute,-3px,null,null,3px);
    }
}

.form-group{
    display: inline-block;
}