<div class="form-group" *ngIf="validator">
  <!-- Label -->
  <label *ngIf="label" class="form-col-form-label" for="controlName" >{{label | translate}}</label>
  <!-- Control and prepend group (Icon and required) -->
  <div class="controls"> 
    <div class="input-prepend input-group">
      <div *ngIf="prependIcon || (validator && validator.required)" class="input-group-prepend">
        <span *ngIf="prependIcon" class="input-group-text"><i [ngClass]="prependIcon"></i></span>
        <span *ngIf="validator && validator.required" class="red" >*</span>
        <span *ngIf="prependText" class="input-group-text" >{{prependText | translate}}</span>
      </div>

      <!--input type="text" class="form-control" placeholder="Username"-->
      <ng-content></ng-content>

    </div>
  </div>
  <!-- HELP Text-->
  <p *ngIf="helpText" class="help-block">{{helpText | translate}}</p>

  <!-- error message -->
  <div class="invalid-feedback" *ngIf="validator.hasError">
    <p class="error-block" *ngFor="let msg of validator.messages">{{msg}}</p>
  </div>
  <div class="invalid-feedback" *ngIf="error">
    <p class="error-block">{{error}}</p>
  </div>
</div>