<div placement="{{placement}}" ngbTooltip="{{message}}" 
  [ngClass]="{'btn-round-sm' : !large, 'btn-round' : large }">
    <!-- button has a message -->
    <i class="material-icons">{{icon}}</i>
  </div>