<app-header></app-header>

<div class="app-body">

  <app-sidebar></app-sidebar>
  <!-- Main content -->
  <main class="main">

      
      <router-outlet>
          <div *ngIf="showPageLoader" class="loader-small-overlay"></div>
          <span *ngIf="showPageLoader" class="loader-small"></span>
      </router-outlet>
   
    <!-- /.conainer-fluid -->

  </main>
</div>