<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>{{'Login' | translate}}</h1>
              <p class="text-muted" translate >Sign_In_to_your_account</p>

              <form role="form" (submit)="submit()" [formGroup]="formLogin">
                <app-form-field type="short" prependIcon="icon-user" validator="usernameValidator">
                  <input type="text" class="form-control" placeholder="username" #UserNameInput [formControlName]="usernameValidator.controlName">
                </app-form-field>

                <app-form-field type="long" prependIcon="icon-lock" validator="passwordValidator">
                  <input required type="password" class="form-control" placeholder="Password" [formControlName]="passwordValidator.controlName">
                </app-form-field>

                <div class="row">
                  <div class="col-6">
                    <app-button-primary 
                      type="submit" 
                      className="btn-primary px-4"
                      [disabled]="!formLogin.valid" >
                      {{'Login' |translate}}
                    </app-button-primary>
                    <!--button type="submit" class="btn btn-primary px-4" >Login</button-->
                  </div>

                  <div class="col-6 text-right">
                    <button 
                      type="button" class="btn btn-link px-0" translate>Forgot_password</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
          <div class="card text-white bg-info py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2 translate>Sign_up</h2>
                <p translate>Sign_up_msg</p>
                <button type="button" class="btn btn-primary active mt-3" translate>Register_Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>