   <!-- live button -->
   <div class="info-btn">
      <i *ngIf="message" class="material-icons"  placement="top" ngbTooltip="{{message}}" triggers="mouseenter:mouseleave" >info_outline</i>   
      <i *ngIf="!message" class="material-icons neighbor-icon" (mouseenter)="onHover.emit($event)" (mouseleave)="offHover.emit($event)">info_outline</i> 
  </div>
    