<div class="row">
  <div class="col-md-12 mb-12">
    <!-- Nav tabs -->
    <ngb-tabset (tabChange)="tabChange($event)">

      <!--Statistics -->
      <ngb-tab id="tab_stat">
        <ng-template ngbTabTitle>
          <i class="icon-eye"></i> {{ 'Statistics' | translate }}</ng-template>
        <ng-template ngbTabContent>
          <div class="row" style="min-height: 500px;">
            <!-- timeInUseYmd -->
            <div class="col-sm-6 col-md-2">
              <div class="card text-white bg-{{progressbarType(timeInUsePct)}}">
                <div class="card-body">
                  <div class="h1 text-muted text-right mb-4">
                    <i class="icon-speedometer"></i>
                  </div>
                  <div *ngIf="timeInUseYmd" class="h4 mb-0">{{timeInUseYmd.y | number:0}}.{{timeInUseYmd.m | number:0}}.{{timeInUseYmd.d | number:0}}</div>
                  <small class="text-muted text-uppercase font-weight-bold">{{'Time_Used' | translate }} (y.m.d)</small>
                  <div class="bars">
                    <progressbar class="progress progress-white progress-xs mt-3" [value]="timeInUsePct" [max]="100"></progressbar>
                  </div>

                </div>
              </div>
            </div>


          </div>


        </ng-template>
      </ngb-tab>

      <!-- Expences -->
      <ngb-tab id="tab_expences">
        <ng-template ngbTabTitle>
          <i class="icon-basket-loaded"></i> {{ 'Expences' | translate }}</ng-template>
        <ng-template ngbTabContent>

          <div class="row" style="min-height: 500px;">
            <div class="col-md-12 mb-12">
              <ol class="breadcrumb">
                <input type='text' style='padding:2px;width:30%;' placeholder="{{'Type_to_filter_the_Notes_column' | translate}}" (keyup)='updateFilter($event)'
                />
                <li class="breadcrumb-menu d-md-down-none">
                  <div class="btn-group" role="group">
                    <!-- Edit Vehicle -->
                    <a class="btn" (click)="addExpence(vehicle.vehicleId)">
                      <i class="fa fa-plus" title="{{'Add' | translate}} {{'Expense' | translate}}"></i>&nbsp;</a>
                    <!-- refresh Vehicle -->
                    <a class="btn" (click)="getVehicleExpences(vehicle.vehicleId)">
                      <i class="fa fa-refresh" title="{{'Reload' | translate}} {{'Expenses' | translate}}"></i>
                    </a>
                  </div>
                </li>
              </ol>

              <ngx-datatable class="material" 
                [rows]="rows" 
                [columnMode]="'force'" 
                [headerHeight]="40" 
                [footerHeight]="30" 
                [rowHeight]="'30'"
                [limit]="15">

                <ngx-datatable-column prop="exp_id" name="ID" [canAutoResize]="false" [width]="50">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <i class="fa fa-edit" title="{{'Edit' | translate}} {{'Expenses' | translate}}" (click)="editExpence( value)"></i>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="exp_date" name="Date" [canAutoResize]="false" [width]="120" [cellClass]="getExpenseCellClass">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | date:'shortDate':'': row.currency_lbl.substr(0,2) }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="exp_millage" name="Odometer" [canAutoResize]="false" [width]="100" [cellClass]="getExpenseCellClass">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="exp_price" name="Price" [canAutoResize]="false" [width]="100" [cellClass]="getExpenseCellClass">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | vlbcurrency:row.currency_lbl}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="exp_note" name="Notes" [canAutoResize]="true" [minWidth]="200">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
            </div>
          </div>

        </ng-template>

      </ngb-tab>

      <!-- Fuel  -->
      <ngb-tab id="tab_gas">
        <ng-template ngbTabTitle>
          <i class="material-icons">local_gas_station</i> {{'Gas' | translate}}</ng-template>
        <ng-template ngbTabContent>

          <div class="row" style="min-height: 500px;">

            <div class="col-md-12 mb-12">
              <ol class="breadcrumb">

                <li class="breadcrumb-menu d-md-down-none">
                  <div class="btn-group" role="group">
                    <!-- Edit Vehicle -->
                    <a class="btn" (click)="addGas(vehicle.vehicleId)">
                      <i class="fa fa-plus" title="{{'Add' | translate}} {{'Expense' | translate}}"></i>&nbsp;</a>
                    <!-- refresh Vehicle -->
                    <a class="btn" (click)="getVehicleGasLoad(vehicle.vehicleId)">
                      <i class="fa fa-refresh" title="{{'Reload' | translate}} {{'Expenses' | translate}}"></i>
                    </a>
                  </div>
                </li>
              </ol>

              <ngx-datatable class="material" 
                [rows]="gasRows" 
                [columnMode]="'force'" 
                [headerHeight]="50" 
                [footerHeight]="40" 
                [rowHeight]="'auto'"
                [limit]="15">

                <ngx-datatable-column prop="gas_id" name="ID" [canAutoResize]="false" [width]="50">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                      <i class="fa fa-edit" title="{{'Edit' | translate}} {{'Gas_fuel_up' | translate}}" (click)="editGas(value)"></i>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="gas_date" name="Date" [canAutoResize]="false" [width]="120" [cellClass]="'tdright'">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | date:'shortDate':'': row.currency_lbl.substr(0,2) }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="gas_millage" name="Odometer" [canAutoResize]="false" [width]="100" [cellClass]="'tdright'">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="gas_quantity" name="Quantity" [canAutoResize]="false" [width]="100" [cellClass]="'tdright'">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | number:'1.2-2'}}&nbsp;{{vehicle.getGasMeasure()}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="gas_total_price" name="Price" [canAutoResize]="false" [width]="100" [cellClass]="'tdright'">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{value | vlbcurrency:row.currency_lbl}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="location_brand" name="Brand" [canAutoResize]="false" [width]="250">
                  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    
                    <ul class="icons-list">
                      <li>
                          
                        <img src="{{row.gasBrandImageUrl}}" class="img-gas-brand" alt="{{value}}">
                         
                        
                          
                        <div class="desc">
                          <div class="title">{{value | uppercase}}</div>
                          <small>Single price: {{row.cal_price_per_l | vlbcurrency:row.currency_lbl}} / {{vehicle.getGasMeasure()}}</small>
                        </div>
                        <div class="value">
                          <div class="small text-muted">&nbsp;</div>
                          <span class="{{row.priceDiff>0 ? 'up' : 'down'}}">{{row.priceDiff| number}}</span>
                        </div>
                        <div class="actions">
                            
                          <button type="button" class="btn btn-link text-muted">
                             <i class="{{row.priceDiffIconArrow}} "></i>
                          </button>
                        </div>
                      </li>
                    </ul>
                  </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
            </div>
          </div>

        </ng-template>

      </ngb-tab>

    </ngb-tabset>
  </div>
</div>