.tdright{
    text-align: right;
}

.avatar .img-gas-brand {
    max-width: 100%;
    max-height: 100%;
}

.up{
    color: #cc1010!Important;
}

.down{
    
    color: #289407!Important;
}

.icons-list li .value {
    right: 30px!Important;
}
.icons-list li{
    position: initial!Important;
}
.icons-list li img {
    display: block;
    float: left;
    max-width: 45px !important;
    max-height: 38px !important;
    margin: 2px;
    line-height: 38px !important;
    text-align: center;
    overflow: hidden;
}
