<!-- Breadcrumb -->
<ol class="breadcrumb">
  <app-breadcrumbs></app-breadcrumbs>

  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <!-- Edit Vehicle -->
          <a class="btn" (click)="editVehicleClick()"><i class="icon-pencil" ></i>&nbsp;{{'Edit' | translate}}</a>
          <!-- refresh Vehicle -->
          <a class="btn"><i class="icon-refresh" (click)="getVehicle(vehicleId)"></i></a>
          <!-- Edit Vehicle -->
          <a class="btn" (click)="deleteVehicleClick()"><i class="fa fa-trash" ></i>&nbsp;{{'Delete' | translate}}</a>
      </div>
  </li>
</ol>
<!-- Breadcrumb -->
<div [@transition]='state' class="container-fluid">
<div class="row">

    <div class="col-sm-6 col-md-6">
      <div class="card">
        
        <div class="card-body" >
            <img *ngIf="imageUri" class="product-image" [ngClass]="imageClass" (load)="onImageLoad()" [src]="imageUri">
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-md-6">
      <app-vehicle-card-detail
      [vehicle]="vehicle" >

      </app-vehicle-card-detail>
    </div>
      <!--/.col-->
    
  </div><!--/.row-->
  <!-- TABS Statistics, Expences and Gas -->
  <app-vehicle-details-tabs
    [vehicle]="vehicle" >
  </app-vehicle-details-tabs>
</div>