<!-- Card *ngFor="let productItem of productItems"-->
<div (mouseenter)='hoverOnCard()' (mouseleave)='hoverOffCard()' class="product-card card">


    <!-- OVERLAY BUTTON -->
    <div class="card-overlay-button" [@hoverCardTrigger]='hoverState'>
        <app-button-primary (click)="quickViewClick(vehicle)">
            <i class="material-icons">zoom_in</i> {{ 'QUICK_VIEW' | translate }}
        </app-button-primary>

    </div>

    <!-- CARD ACTION BUTTON -->
    <div class="flex-space-between">

        <div class="card-action-buttons">
            <!-- Add Expences -->
            <app-button-round-img placement="top" *ngIf="interactiveCard" icon="expenses-add" message="{{'Add_Expenses' | translate}}">
            </app-button-round-img>
            <!-- Add Gas -->
            <app-button-round placement="top" *ngIf="interactiveCard" icon="local_gas_station" message="{{'Add_Gas' | translate }}">
            </app-button-round>
        </div>
        <!-- Card Title (Vehicle Name) -->
        <div class="product-title">
            <div *ngIf="vehicle && vehicle.model;else noModel">{{vehicle.model}}</div>
            <ng-template #noModel>
                <div>{{ 'Model_Not_Available' | translate }}</div>
            </ng-template>
        </div>
    </div>
    <!-- .card-action-buttons -->


    <!-- CARD BODY -->
    <div class="card-body">
        <!-- Product Image -->
        <div class="product-card-image-container">
            <img *ngIf="imageUri;else noImage" class="product-card-image" [ngClass]="imageClass" (load)="onImageLoad()" [src]="imageUri">
            <ng-template #noImage>
                <img class="product-card-image" [ngClass]="imageClass" (load)="onImageLoad()" src="//images.tradeservice.com/ProductImages/DIR_TSL/TSL_PRODUCT_NOT_AVAILABLE.png">
            </ng-template>
        </div>
        <!-- Product Attributes -->
        <div class="product-card-attributes">
            <!-- Quantity -->
            <div *ngIf="showQty">
                <div class="flex-end">
                    <!-- ts-qty-icon
                        (click)="onClickQty.emit(productItem)" 
                        [value]="productItem.quantity | number:'1.0-3'">
                    </ts-qty-icon-->
                </div>
                <hr>
            </div>

            <!-- Millage -->
            <!--
            <app-vehicle-card-millage millage_current="{{vehicle.milage_km_current}}">
            </app-vehicle-card-millage>
            -->
            <div style="font-size: 32px; line-height: 40px;text-align: center;">
                <ng2-odometer *ngIf="vehicle" [number]="vehicle.milage_km_current" [config]="{theme: 'car' }"></ng2-odometer>
            </div>

            <ul class="horizontal-bars type-2">
                <!-- Distance -->
                <li>
                    <i class="icon-globe"></i>
                    <span class="title">{{'Distance' | translate}}</span>
                    <span class="value">{{distance | number:0}}  {{distanceMeasure}}
                        <span class="text-muted small">({{distancePct | number:0}}%)</span>
                    </span>
                    
                    <div class="bars">
                        <progressbar class="progress progress-xs progress-success" [value]="distancePct" [max]="100" type="{{progressbarType(distancePct)}}"></progressbar>
                    </div>
                </li>

                 <!-- Age -->
                 <li>
                    <i class="icon-clock"></i>
                    <span class="title">{{'Time_Used' | translate }}</span>
                    <span class="value" title="{{timeInUse.y | number:0}} years {{timeInUse.m | number:0}} monts {{timeInUse.d | number:0}} days">{{timeInUse.y | number:0}}.{{timeInUse.m | number:0}}.{{timeInUse.d | number:0}}
                        <span class="text-muted small">({{timeInUsePct | number:0}}%)</span>
                    </span>
                    
                    <div class="bars">
                        <progressbar class="progress progress-xs progress-success" [value]="timeInUsePct" [max]="100" type="{{progressbarType(timeInUsePct)}}"></progressbar>
                    </div>
                </li>
                <!-- Total Amount Of Fuel Used -->
                <li>
                    <i class="material-icons" style="vertical-align: baseline;">local_gas_station</i>
                    <span class="title">{{ 'Fuel_Used' | translate }}</span>
                    <span class="value"> {{totalGasQuantity}} {{distanceGasMeasure}}
                        <span class="text-muted small">({{fuelUsedPct | number:0}}%)</span>
                    </span>
                    
                    <div class="bars">
                        <progressbar class="progress progress-xs progress-success" [value]="fuelUsedPct" [max]="100" type="{{progressbarType(fuelUsedPct, false)}}"></progressbar>
                    </div>
                </li>
                <!-- Total Expences -->
                <li>
                        <i class="material-icons" style="vertical-align: baseline;font-size: 16px;">attach_money</i>
                    <span class="title">{{ 'Expences' | translate }} </span>
                    <span class="value"> {{getPrice(expencesTotalPrice)}}
                        <span class="text-muted small">({{totalExpencesPct | number:0}}%)</span>
                    </span>
                    
                    <div class="bars">
                        <progressbar class="progress progress-xs progress-success" [value]="totalExpencesPct" [max]="100" type="{{progressbarType(totalExpencesPct, false)}}"></progressbar>
                    </div>
                </li>
            </ul>

            <!-- UPC 
            <div class="key-name">Description</div>
            <div *ngIf="vehicle && vehicle.name;else noDescription" class="key-value ellipsis">{{vehicle.name}}</div>
            <ng-template #noDescription><div class="key-value ellipsis">Description Not Available</div></ng-template>
            -->
        </div>
    </div>
    <!-- .card-body -->


    <!-- CARD FOOTER -->
    <div class="card-footer">
        <div class="product-card-price-label">
             Name <span class="product-card-price-type" style="float: right;">{{firstRegistrationDate | date:'shortDate':'':locale.substr(0,2)}}</span>
        </div>
        <div *ngIf="expencesTotalPrice; else empty" class="product-card-price">
            <span class="product-card-price-number"> {{vehicle.name}} </span>
            <!--span class="product-card-price-uom">{{positionedPriceSet.positionOne.uom}}</span-->

        </div>
        <ng-template #empty>
            <div class="product-card-price">
                <span class="product-card-price-number">Not Available</span>
            </div>
        </ng-template>

       
    </div>



    <!-- QUICK VIEW BUTTON -->
    <div class="card-expand" [@hoverCardTrigger]='hoverState'>
        <div class="product-card-quick-view">
            <a routerLink="{{getDetailsRouterLink()}}">
                <app-button-flat 
                    color="dark" 
                    icon="zoom_in"
                    (click)="hendleDetailsClick(vehicle.vehicleId)">
                    {{ 'VIEW' | translate }}
                </app-button-flat>
            </a>
        </div>
        <div class="product-card-price-container">
            <!-- Hover Data -->

            <!-- POSITION 1 -->
            <div class="product-card-price-label">
                    <i class="material-icons" style="vertical-align: baseline;font-size: 16px;">attach_money</i>
                {{'Last_Expence' | translate }}: 
                <span *ngIf="expLastlNote" class="product-card-price-type"> {{expLastlNote}}</span>
            </div>
            <div *ngIf="expLastlDate; else emptyLastExpence" class="product-card-price">
                <span class="product-card-price-number">  {{expLastlDate | date:'shortDate':'':locale.substr(0,2)}} </span>
                <span class="product-card-price-uom" style="float: right;">{{getPrice(expLastlPrice)}} </span>
            </div>
            <ng-template #emptyLastExpence>
                <div class="product-card-price">
                    <span class="product-card-price-number"> Not Avaliable</span>
                </div>
            </ng-template>
            
            <!-- hide hr on last loop -->
            <hr class="product-card-price-hr">

            <!-- POSITION 2 -->
            <div class="product-card-price-label">
                    <i class="material-icons" style="vertical-align: baseline;font-size: 16px;">format_color_fill</i>
                {{ 'Last_Fill_Up' | translate}} :
                <span *ngIf="lastFillUpDate" class="product-card-price-type" style="float: right;"> {{lastFillUpDate | date:'shortDate':'':locale.substr(0,2)}} </span>
            </div>
            <div *ngIf="lastFillUpDate; else emptyLastFillUp" class="product-card-price">
                <span class="product-card-price-number">  {{lastFillUpQuantity}} {{distanceGasMeasure}} </span>
                <span class="product-card-price-uom" style="float: right;">{{getPrice(lastFillUpTotalPrice)}} ({{getPrice(lastFillUpPrice)}})</span>
            </div>
            <ng-template #emptyLastFillUp>
                <div class="product-card-price">
                    <span class="product-card-price-number">{{ 'Not_Avaliable' |translate }}</span>
                </div>
            </ng-template>
            <hr class="product-card-price-hr">

            <!-- POSITION 3 -->
            <div class="product-card-price-label">
                    <i class="material-icons" style="vertical-align: baseline;font-size: 16px;">local_gas_station</i>
                {{ 'Putchase_On' | translate }} :
                <span *ngIf="lastFillUpDate" class="product-card-price-type" style="float: right;"> {{purchaseDate | date:'shortDate':'':locale.substr(0,2)}} </span>
            </div>
            <div *ngIf="lastFillUpDate; else emptyLastFillUp" class="product-card-price">
                    <i class="material-icons" style="vertical-align: baseline;font-size: 16px;">local_gas_station</i>
                <span class="product-card-price-number"> {{ 'First_Registration' | translate }}:</span>
                <span class="product-card-price-uom" style="float: right;">{{firstRegistrationDate | date:'shortDate':'':locale.substr(0,2)}} </span>
            </div>
            <ng-template #emptyLastFillUp>
                <div class="product-card-price">
                    <span class="product-card-price-number">{{ 'Not_Avaliable' | translate }}</span>
                </div>
            </ng-template>

        </div>
    </div>
    <!-- END EXPAND CONTAINER -->


</div>
<!-- .Card -->