/*!
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.10
 * @link http://coreui.io
 * Copyright (c) 2018 creativeLabs Łukasz Holeczek
 * @license MIT
 */

// Override Boostrap variables
@import "bootstrap-variables";
//@import "./vendors/_variables";
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;
$breadcrumb-padding-y: 0.1rem!default;

// Import Bootstrap source files
@import "node_modules/bootstrap/scss/bootstrap";
@import '~ng2-toastr/bundles/ng2-toastr.min.css';
// ngx-datatable
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.ngx-datatable.material{
  .datatable-body{
    .datatable-body-row{
      .datatable-body-cell{
        padding: 2px 8px!important;
      }
    }
  }
} 

.ngx-datatable.material{
  .datatable-body{
    .datatable-body-row{
       .tdright{
        text-align: right!important;
      }
    }
  }
} 

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Custom styles
@import "custom";


//////////////////
// LOADER SMALL //
//////////////////
/* Transparent Overlay */
.loader-small-overlay {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2030;
    background-color: rgba(0,0,0,0.3);
  }
  
  
  
  /* Animation */
  .loader-small,
  .loader-small:before,
  .loader-small:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader-small {
    position: absolute;
    z-index: 2031;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #ffffff;
    text-indent: -9999em;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader-small:before,
  .loader-small:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader-small:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader-small:after {
    left: 1.5em;
  }


  //Icons

  .expenses-add{
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    background-image: url('/assets/img/expenses_add.png');
    background-position: 1px -5px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }
  
  .gas-add{
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    background-image: url('/assets/img/gas_add.png');
    background-position: 1px -5px;
    background-repeat: no-repeat;
    background-size: 30px 20px;
  }

  .dropdown-item .img-gas-brand, .btn-flat .img-gas-brand {
    max-width: 36px;
    max-height: 18px;
}

  
  