<div class="form-group row col-sm-12" *ngIf="validator">      
    
    <label class="col-md-3 col-form-label" for="controlName">{{label | translate}}<span *ngIf="validator && validator.required" class="red">*</span></label>
    
    <div class="col-md-9">
        <ng-content></ng-content>
    </div>
    <!-- error message -->
  <div class="invalid-feedback" *ngIf="validator.hasError">
    <p class="error-block" *ngFor="let msg of validator.messages">{{msg}}</p>
  </div>

</div>