<button 
  (click)="handleClick($event)" 
  type="{{ type || 'button'}}" 
  [ngClass]="{'btn-primary':color === undefined, 'btn-primary-two':color==='yellow', 'btn-primary-cancel':color==='gray'}"
  class="btn {{className}}"
  [disabled]="disabled">
  <ng-content></ng-content>
</button>