<ng-template ngFor let-breadcrumb [ngForOf]="breadcrumbs" let-last = last>
    <li class="breadcrumb-item"
        *ngIf="(breadcrumb.label)"
        [ngClass]="{active: last}">
      <a class="breadcrumb-item" *ngIf="!last" routerLink="{{breadcrumb.url}}">{{breadcrumb.label | translate}}</a>
      <span *ngIf="last" routerLink="[{{breadcrumb.url}}, {{breadcrumb.params}}]">{{breadcrumb.label | translate }}</span>
    </li>
  </ng-template>