
.boq {
    position: relative;
    display: table;
    width: 100%;
    height: 300px;
    padding-bottom: 3.2rem;
    margin-bottom: 0;
    text-align: center;
    background-size: cover;
    border: 0; }
  
  .boq .by,
  .boq .do {
    display: table-cell;
    width: 1000000px;
    text-align: center;
    vertical-align: middle; }
  
  .boq .bor {
    max-width: 300px;
    margin: 0 auto; }
  
  .boq .bos {
    display: inline-block;
    width: 80px;
    margin-right: 0; }
  
  .bot {
    font-size: 16px;
    color: #fff; }
  
  .bou {
    margin-top: 20px;
    color: #fff; }
  
  @media (min-width: 576px) {
    .boq {
      height: 400px; } }
  
  @media (min-width: 768px) {
    .boq {
      height: 500px; }
    .boq .bos {
      width: 110px; } }
  
  .bov {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0; }
  
  .bov .nav {
    border-bottom: 0;
    vertical-align: top; }
  
  .bov .pg {
    padding: 0 10px 18px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
  
  .bov .pi {
    position: relative; }
  
  .bov .ph .pg:focus,
  .bov .ph .pg:hover,
  .bov .pi .pg.active {
    color: #fff;
    background: transparent;
    border-color: transparent; }
  
  .bov .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff; }
  
  @media (min-width: 768px) {
    .bov .nav > li > a {
      padding-bottom: 0 15px 23px; } }
  
  .bow {
    padding-left: 0;
    list-style: none; }
  
  .box .rv.b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0; }
  
  .box .boy {
    width: 100%; }
  
  .box .boz,
  .box .boy {
    margin: 20px 0 25px; }
  
  .box .boy img,
  .box .boz {
    max-width: 100%; }
  
  .box .bos {
    width: 42px;
    margin-right: 5px; }
  
  .box .rw .bow .bos {
    width: 40px; }
  
  .box .bow .bos {
    display: none; }
  
  .box .bos {
    border-radius: 100%; }
  
  .box .rv .axc a {
    color: #6c757d;
    font-weight: 700; }
  
  .box .bpa {
    margin-top: 5px; }
  
  .box .bpb > h5 {
    margin-bottom: 0;
    margin-top: 5px; }
  
  @media (min-width: 576px) {
    .box .bow .bos {
      display: block; }
    .box .bos {
      width: 60px; } }
  
  .bpc .bos {
    width: 42px;
    margin-right: 5px; }
  
  .bpc .bpd {
    position: relative;
    padding: 10px 15px;
    background-color: #f5f8fa;
    border-radius: 9px; }
  
  .bpc .bpd + .bpd {
    margin-top: 5px; }
  
  .bpc .bpd:first-child:before {
    position: absolute;
    top: 16px;
    left: -8px;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #f5f8fa; }
  
  .bpc .bpe a {
    font-weight: 400; }
  
  .bpc .bpf .bpd {
    color: #fff;
    background-color: #3097D1; }
    .bpc .bpf .bpd:first-child:before {
      left: auto;
      right: -8px;
      margin-left: 0;
      margin-right: 2px;
      border-right: 0;
      border-left: 6px solid #3097D1; }
  
  .bpc .bpf .bos {
    margin-left: 5px;
    margin-right: 0; }
  
  .cj .b {
    margin-top: 0;
    padding: 15px; }
  
  .cj .bos {
    width: 42px;
    margin-right: 5px;
    border-radius: 100%; }
  
  .cj .bpg {
    color: #536570; }
  
  .cj .rw p:last-child {
    margin-bottom: 0; }
  
  .cj .cg.bph {
    margin-top: 7px; }
  
  .modal-body .cj {
    margin-bottom: 5px; }
    .modal-body .cj .b {
      border-left: 0;
      border-right: 0; }
    .modal-body .cj .b:last-child {
      border-radius: 4;
      border-bottom: 0; }
    .modal-body .cj .b:first-child {
      border-radius: 4;
      border-top: 0; }
  
  .bpi .qb {
    margin-bottom: 5px; }
  
  .bpi .qf {
    height: 150px;
    background-size: cover; }
  
  .bpj {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  
  .bpk {
    list-style: none;
    padding: 0; }
  
  .bpl {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0; }
  
  .bpl:last-child {
    border-right: 0; }
  
  .bpm a {
    margin-left: 5px; }

    .us {
        border-radius: 50% !important;
    }