<div class="boq" style="background-image: linear-gradient( rgba(255, 190, 0, 0.5), rgba(255, 190, 0, 0.5) ), url(../assets/img/user-profile-top.jpg);">
  <div class="by">
    <div class="bor">
      <ngx-avatar class="us bos" 
          name="{{user.name}}" 
          src="{{avatarUrl}}"
          gravatarId="{{user.eMail}}" 
          value="28%"  
          size="110" 
          [round]="true">
      </ngx-avatar>
      <h3 class="bou">{{user.name}}</h3>
     
      <p class="bot">E-Mail: <strong>{{user.eMail}}</strong></p>
      <p class="bot">Role: <strong>{{user.roleName}}</strong></p>
      <p class="bot">
        I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.
      </p>
    </div>
  </div>

  <nav class="bov">
    <ul class="nav ph xm">
      <li class="pi">
        <a class="pg active" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>