<div class="format-control"
     [ngClass]="{ 'format-control-no-label' : !labeled, 'format-control-large' : large, 'format-control-lite' : color === 'lite', 'format-control-dark' : color === 'dark' }" >
  <span *ngIf="labeled" class="size-14">{{label}}</span>
  <i class="material-icons">{{icon}}</i> 
</div>
