<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form role="form" (submit)="submit()" [formGroup]="editExpenseForm">
        <div class="modal-header">
          <h4 class="modal-title">{{title | translate}}</h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-sm-12">
  
  
          <!-- Error Message 
              <div *ngIf="formDirty()" class="red flex-align-items">
                  <i class="material-icons">error</i>
                  <span class="margin-left-5">Passwords do not match.</span>
              </div>
              -->
          
          <div class="row col-sm-12">
            <!-- Purchase Date -->
            <app-form-field-label 
              type="light" label="Date" class="col-sm-4" 
              [validator]="expDateValidator">
              <input required [formControlName]="expDateValidator.controlName" 
                placeholder="{{expenseDateDisplay}}" 
                [(ngModel)]="expenseDateDisplay"
                type="text" 
                ngbDatepicker #d="ngbDatepicker" 
                (focus)="d.toggle()" 
                class="form-control">
            </app-form-field-label>
  
            <!-- Odometer -->
            <app-form-field-label 
              label="Odometer" 
              class="col-sm-4" 
              [controlName]="expMilageValidator.controlName" 
              [validator]="expMilageValidator">
              <input 
                required [formControlName]="expMilageValidator.controlName" 
                style="text-align: right;"
                type="text" 
                class="form-control">
            </app-form-field-label>

            <!-- Price -->
            <app-form-field-label 
              label="Price" 
              class="col-sm-4" 
              [controlName]="expPriceValidator.controlName" 
              [validator]="expPriceValidator"
              [prependText]="currencySymbol">
              <input 
                style="text-align: right;"
                required [formControlName]="expPriceValidator.controlName" 
                type="text" 
                class="form-control"
                placeholder="{{expPriceDisplay}}"
                >
            </app-form-field-label>
  
          </div>
          <app-textarea-field 
              label="Note" 
              [controlName]="expNoteValidator.controlName" 
              [validator]="expNoteValidator"
              >
              <textarea
                required [formControlName]="expNoteValidator.controlName" 
               rows="4" class="form-control" placeholder="Content.."></textarea>
          </app-textarea-field>
  
        </div>
        <div class="modal-footer">
          <!-- Cancel -->
          <app-button-primary (click)="onCancel()" class="margin-right-15" color="gray">
            CANCEL
          </app-button-primary>
          <!-- Submit -->
          <app-button-primary type="submit" [disabled]="!editExpenseForm.valid" class="float-right">
            SUBMIT
          </app-button-primary>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->