<div class="modal-dialog modal-lg modal-primary">
  <div class="modal-content">
    <form role="form" (submit)="submit()" [formGroup]="editVehicleForm">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-sm-12">


        <!-- Error Message 
            <div *ngIf="formDirty()" class="red flex-align-items">
                <i class="material-icons">error</i>
                <span class="margin-left-5">Passwords do not match.</span>
            </div>
            -->
        <div class="row col-sm-12">
          <!-- Name -->
          <app-form-field-label 
            type="light" 
            label="Name" 
            class="col-sm-4" 
            [validator]="nameValidator">
            <input 
              required [formControlName]="nameValidator.controlName" 
              type="text" 
              class="form-field light-field">
          </app-form-field-label>

          <!-- Model -->
          <app-form-field-label 
            type="light" 
            label="Model" 
            class="col-sm-4" 
            [controlName]="modelValidator.controlName" 
            [validator]="modelValidator">
            <input 
              required [formControlName]="modelValidator.controlName" 
              type="text" 
              class="form-field light-field">
          </app-form-field-label>

           <!-- Millage -->
           <app-form-field-label 
              type="light" 
              label="Millage " 
              class="col-sm-4" 
              [controlName]="milageKmValidator.controlName" 
              [validator]="milageKmValidator">
              <input 
                required [formControlName]="milageKmValidator.controlName" 
                type="text" 
                class="form-field light-field">
            </app-form-field-label>

          <!-- First Registration Date -->
          <app-form-field-label 
            type="light" 
            label="First Registration" 
            class="col-sm-4" 
            [validator]="firstRegDateValidator">
            <input 
              required [formControlName]="firstRegDateValidator.controlName" 
              placeholder="{{firstRegDateDisplay}}" 
              [(ngModel)]="firstRegDateDisplay"
              type="text" 
              ngbDatepicker 
              #fr="ngbDatepicker" (focus)="fr.toggle()" 
              class="form-field light-field">
          </app-form-field-label>

           <!-- Sale Date -->
           <app-form-field-label 
           type="light" 
           label="Sale Date" 
           class="col-sm-4" 
           [validator]="saleDateValidator">
           <input 
              [formControlName]="saleDateValidator.controlName" 
             placeholder="{{saleDateDisplay}}" 
             [(ngModel)]="saleDateDisplay"
             type="text" 
             ngbDatepicker 
             #sd="ngbDatepicker" (focus)="sd.toggle()" 
             class="form-field light-field">
         </app-form-field-label>
        </div>
        <hr/>
        <div class="row col-sm-12">
          <!-- Purchase Date -->
          <app-form-field-label 
            type="light" label="Purchase" class="col-sm-6" 
            [validator]="purchaseDateValidator">
            <input required [formControlName]="purchaseDateValidator.controlName" 
              placeholder="{{purchaseDateDisplay}}" 
              [(ngModel)]="purchaseDateDisplay"
              type="text" 
              ngbDatepicker #pd="ngbDatepicker" 
              (focus)="pd.toggle()" 
              class="form-field light-field">
          </app-form-field-label>

          <!-- Millage Start -->
          <app-form-field-label 
            type="light" 
            label=" Millage Start" 
            class="col-sm-4" 
            [controlName]="milageKmStartValidator.controlName" 
            [validator]="milageKmStartValidator">
            <input 
              required [formControlName]="milageKmStartValidator.controlName" 
              type="text" 
              class="form-field light-field">
          </app-form-field-label>

        </div>

        <hr/>
        <div class="row col-sm-12">
          
          <!-- Track In MI -->
          <app-form-field-label 
            type="light" 
            label="{{'Track_in_Miles' | translate}}" 
            class="col-sm-4" 
            [controlName]="trackInMlValidator.controlName" 
            [validator]="trackInMlValidator">
            <label class="switch switch-text switch-pill switch-primary-outline-alt">
              <input [formControlName]="trackInMlValidator.controlName" 
                type="checkbox" 
                #input 
                [formControlName]="trackInMlValidator.controlName"
                class="switch-input" 
                [checked]='track_in_mi' 
                (change)="handleCheck($event.target.checked)">
                <span class="switch-label" [attr.data-on]="labelOn" [attr.data-off]="labelOff"></span>
                <span class="switch-handle"></span>
            </label>
          </app-form-field-label>
        </div>

      </div>
      <div class="modal-footer">
        <!-- Cancel -->
        <app-button-primary (click)="onCancel()" class="margin-right-15" color="gray">
          CANCEL
        </app-button-primary>
        <!-- Submit -->
        <app-button-primary type="submit" [disabled]="!editVehicleForm.valid" class="float-right">
          SUBMIT
        </app-button-primary>
      </div>
    </form>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->