<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form role="form" (submit)="submit()" [formGroup]="editGasForm">
        <div class="modal-header">
          <h4 class="modal-title">{{title | translate}}</h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-12">
          <!-- Error Message 
              <div *ngIf="formDirty()" class="red flex-align-items">
                  <i class="material-icons">error</i>
                  <span class="margin-left-5">Passwords do not match.</span>
              </div>
          -->
          
          <div class="row col-12 p-0 m-0">

            <div class="row col-6 p-0">
              <!-- Purchase Date -->
              <app-form-field-label 
                type="light" label="Date" class="col-6" 
                [validator]="gasDateValidator">
                <input required [formControlName]="gasDateValidator.controlName" 
                  placeholder="{{gasDateDisplay}}" 
                  [(ngModel)]="gasDateDisplay"
                  type="text" 
                  ngbDatepicker #d="ngbDatepicker" 
                  (focus)="d.toggle()" 
                  class="form-control">
              </app-form-field-label>
    
              <!-- Odometer -->
              <app-form-field-label 
                label="Odometer" 
                class="col-6" 
                [controlName]="gasMilageValidator.controlName" 
                [validator]="gasMilageValidator">
                <input 
                  required [formControlName]="gasMilageValidator.controlName" 
                  style="text-align: right;"
                  type="text" 
                  class="form-control">
              </app-form-field-label>
            </div>
            <div class="row col-6">
              <!-- Brans Selector-->
              <div class="form-group col-6 col-lg-8">
                  <label class="form-col-form-label" for="inputError1">Brand</label>
                  
                  <div ngbDropdown class="form-control">
                    <app-button-flat ngbDropdownToggle>
                        <img src="{{brand.imageUrl}}" class="img-gas-brand" alt="{{brand.name}}"> &nbsp;{{brand.name | uppercase}}
                    </app-button-flat>
            
                    <div ngbDropdownMenu class="dropdown-menu" placement="bottom-right" aria-labelledby="Select Brand">
                      <button (click)="clicBrandOption(item)" *ngFor="let item of fuelRetailers" class="dropdown-item">
                          <img src="{{item.imageUrl}}" class="img-gas-brand" alt="{{item.name}}" aria-selected="item.name===location_brand">&nbsp;{{item.name | uppercase}}
                      </button>
                    </div>
                  </div>
                    
              </div>
              <div class="form-group col-6 col-lg-4 p-0">
                  <div class="card mb-2">
                    <div class="card-body p-0 clearfix">
                      <i class="fa fa-drivers-license bg-info p-2 font-2xl mr-3 float-left"></i>
                      <div class="h5 text-info mb-0 pt-0">{{gas_id | number:'4.0-0'}}</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs">{{'ID' | translate}}</div>
                    </div>
                  </div>
                  <div class="card mb-2">
                      <div class="card-body p-0 clearfix">
                        <i class="fa fa-drivers-license bg-info p-2 font-2xl mr-3 float-left"></i>
                        <div class="h5 text-info mb-0 pt-0">{{gas_id | number:'4.0-0'}}</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">{{'ID' | translate}}</div>
                      </div>
                    </div>
              </div>
              
            </div>
          </div>

          <div class="row col-sm-12 p-0 m-0">
            <div class="row col-6 p-0">
              <!-- Quantity -->
              <app-form-field-label 
                label="Quantity" 
                class="col-6" 
                [controlName]="gasQuantityValidator.controlName" 
                [validator]="gasQuantityValidator"
                [prependText]="gasMeasure">
                <input 
                  style="text-align: right;"
                  
                  required [formControlName]="gasQuantityValidator.controlName" 
                  type="text" 
                  class="form-control" >
              </app-form-field-label>

              <!-- Price -->
              <app-form-field-label 
                label="Price" 
                class="col-6" 
                [controlName]="gasPriceValidator.controlName" 
                [validator]="gasPriceValidator"
                [prependText]="currencySymbol">
                <input 
                  style="text-align: right;"
                  required [formControlName]="gasPriceValidator.controlName" 
                  type="text" 
                  class="form-control"
                  placeholder="{{gasPriceDisplay}}" >
              </app-form-field-label>
            </div>
            <div class="row col-6">
              
              
                <!-- Fuel_Economy -->
                <app-form-field-label 
                  label="Fuel_Economy" 
                  class="col-6 col-lg-8" 
                  [controlName]="gasFuelEconomyValidator.controlName" 
                  [validator]="gasFuelEconomyValidator"
                  [prependText]="gasFuelEconomyMeasure">
                  <input 
                    style="text-align: right;"
                    placeholder="{{cal_fule_consumption}}" 
                    required [formControlName]="gasFuelEconomyValidator.controlName" 
                    type="text" 
                    class="form-control" >
                </app-form-field-label>
             
              
              <div class="form-group col-6 col-lg-4 p-0">
                  <div class="card mb-2">
                    <div class="card-body p-0 clearfix">
                      <i class="fa fa fa-dollar bg-info p-2 font-2xl mr-3 float-left" ngbTooltip="{{getTooltip('cal_price_per_l')}}" triggers="mouseenter:mouseleave"></i>
                      <div class="h5 text-info mb-0 pt-0">{{cal_price_per_l | vlbcurrency:currency_lbl}}</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs">{{'per' | translate}}  {{gasMeasure}}</div>
                    </div>
                  </div>
                  <div class="card mb-2">
                      <div class="card-body p-0 clearfix">
                        <i class="fa fa-drivers-license bg-info p-2 font-2xl mr-3 float-left"></i>
                        <div class="h5 text-info mb-0 pt-0">{{gas_id | number:'4.0-0'}}</div>
                        <div class="text-muted text-uppercase font-weight-bold font-xs">{{'ID' | translate}}</div>
                      </div>
                    </div>
              </div>
            </div>
          </div>
            
        </div>
        <!-- "modal-body end-->
  
        <div class="modal-footer">
          <!-- Cancel -->
          <app-button-primary (click)="onCancel()" class="margin-right-15" color="gray">
            CANCEL
          </app-button-primary>
          <!-- Submit -->
          <app-button-primary type="submit" [disabled]="!editGasForm.valid" class="float-right">
            SUBMIT
          </app-button-primary>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->